[user]
  name = Tim Martin
  email = tim@timmart.in
	signingKey = 19A52622B91D5DE3

[color]
  ui = auto

[push]
  default = current
  followTags = true
  gpgSign = if-asked
  autoSetupRemote = true

[branch]
  autosetuprebase = always
  sort = -committerdate

[merge]
  conflictstyle = zdiff3

[fetch]
  prune = true
  pruneTags = true
  all = true

[core]
  editor = vim
  pager = bat

[grep]
  lineNumber = true
  patternType = extended

[github]
  user = t-mart

[alias]
  logg = "log --graph --format=format:'%C(bold green)%h%C(reset) - %C(cyan)(%cr)%C(reset)%C(auto)%d%C(reset) %C(white)%s%C(reset) %C(dim white)- %an (%G?)%C(reset)'"
  reflogg = "reflog --format=format:'%C(bold green)%h%C(reset) - %C(bold yellow)%gd%C(reset) %C(auto)%gs%C(reset) - %C(cyan)(%cr) %C(reset)%C(auto)%d%C(reset)%n  ↳ %C(white)%s%C(reset) %C(dim white)- %gn'"

[rerere]
  enabled = true
  autoupdate = true

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[init]
  defaultBranch = master

[commit]
  gpgSign = true
  verbose = true

[tag]
  gpgSign = true
  sort = version:refname

[help]
  autocorrect = prompt

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
