
{{- if ne .chezmoi.os "windows" }}
[".local/bin/fzf"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "junegunn/fzf" (printf "fzf-*-%s_%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}
    path = "fzf"
    refreshPeriod = "168h"
    executable = true

[".local/bin/wcurl"]
    type = "file"
    url = "https://github.com/curl/wcurl/releases/latest/download/wcurl"
    refreshPeriod = "168h"
    executable = true
{{ end }}
