# Autostart entry for 1Password
#
# 1Password will overwrite this file if "Settings > General > Start at login" is
# enabled. However, we reject this because we want to start 1Password minimized
# (--silent flag). There is no in-app setting to start minimized.
#
# Therefore, to not have conflicts, do not enable the above in-app setting and
# let this file prevail.
[Desktop Entry]
Type=Application
Name=1Password
Exec=/opt/1Password/1password --silent
