[Desktop Entry]
Categories=Office;
Comment=Password manager and secure wallet
Exec=/opt/1Password/1password %U
Icon=1password
MimeType=x-scheme-handler/onepassword;
Name=1Password
StartupWMClass=1Password
Terminal=false
Type=Application
