# Run weekly. Current week: {{ div now.YearDay 7 }}, {{ now.Year }}

# Reload Path
$env:Path = [System.Environment]::GetEnvironmentVariable("Path","Machine") + ";" + [System.Environment]::GetEnvironmentVariable("Path","User")

Invoke-Expression (Invoke-WebRequest "https://raw.githubusercontent.com/cargo-bins/cargo-binstall/main/install-from-binstall-release.ps1").Content

$cargoExecutable = Join-Path $env:USERPROFILE .cargo\bin\cargo.exe

{{ $packages := joinPath .chezmoi.sourceDir ".data/packages.yaml" | include | fromYaml -}}
{{- range $packages -}}
{{- if hasKey . "cargo" -}}
& $cargoExecutable binstall --no-confirm --locked {{ index . "cargo" }}
{{ end -}}
{{ end }}
