# Run weekly. Current week: {{ div now.YearDay 7 }}, {{ now.Year }}

# Reload Path
$env:Path = [System.Environment]::GetEnvironmentVariable("Path","Machine") + ";" + [System.Environment]::GetEnvironmentVariable("Path","User")

$uvExecutable = Join-Path $env:USERPROFILE .local\bin\uv.exe

{{ $packages := joinPath .chezmoi.sourceDir ".data/packages.yaml" | include | fromYaml -}}
{{- range $packages -}}
{{- if hasKey . "uv" -}}
& $uvExecutable tool install {{ index . "uv" }}
{{ end -}}
{{ end }}
