# Hash: {{ output "dirhash" (joinPath .chezmoi.sourceDir ".data/nilesoft-shell") "-quiet" "-nowait" }}

$shellExecutable = "$env:ProgramFiles\Nilesoft Shell\shell.exe"

Write-Host "Registering Nilesoft Shell. Click button to restart explorer.exe."
sudo $shellExecutable -register -restart
