$enabled = {{ if .hasHardwareFans }}$true{{ else }}$false{{ end }}

if (-not $enabled) {
    exit 0
}

sudo powershell.exe -Command {
    $fanControlDir   = "{{ .scoopPath | replace "/" "\\" }}\apps\fancontrol\current"
    $taskName        = "Start FanControl"
    $programPath     = "$fanControlDir\FanControl.exe"
    $workingDir      = $fanControlDir
    $taskDescription = "Starts FanControl automatically at system startup with the highest privileges."

    $taskAction = New-ScheduledTaskAction -Execute $programPath -WorkingDirectory $workingDir
    $taskTrigger = New-ScheduledTaskTrigger -AtLogOn
    
    $currentUser = [System.Security.Principal.WindowsIdentity]::GetCurrent().Name
    $taskPrincipal = New-ScheduledTaskPrincipal -UserId $currentUser -LogonType Interactive -RunLevel Highest
    
    $taskSettings = New-ScheduledTaskSettingsSet -StartWhenAvailable `
        -ExecutionTimeLimit (New-TimeSpan -Seconds 0) `
        -MultipleInstances IgnoreNew

    Register-ScheduledTask -TaskName $taskName `
        -Action $taskAction `
        -Trigger $taskTrigger `
        -Principal $taskPrincipal `
        -Settings $taskSettings `
        -Description $taskDescription `
        -Force
        
    Write-Host -ForegroundColor Green "Successfully created or updated the scheduled task: '$taskName'."
}