# Hash: {{ output "dirhash" (joinPath .chezmoi.sourceDir ".data/registry") "-quiet" "-nowait" }}
#
Get-ChildItem -Path $registryFiles -Filter "*.reg" | ForEach-Object {
    $regFile = $_.FullName
    Write-Host "Importing registry file: $regFile"
    sudo reg import $regFile
}