# Reload Path
$env:Path = [System.Environment]::GetEnvironmentVariable("Path","Machine") + ";" + [System.Environment]::GetEnvironmentVariable("Path","User")

$sourceDir = $env:CHEZMOI_SOURCE_DIR
$encryptedKeyFile = Join-Path $sourceDir ".data\gpg-keys.txt.age"

$decryptedKeys = @"
{{ joinPath .chezmoi.sourceDir ".data/gpg-keys.txt.age" | include | decrypt }}
"@

if (Get-Command gpg -ErrorAction SilentlyContinue) {
    $decryptedKeys | gpg --import
    Write-Host "Successfully imported GPG keys using the default gpg command."
}

# Also import the GPG keys into the git of scoop, which will be used for commit signing.
$scoopGpgPath = Join-Path -Path $env:USERPROFILE -ChildPath "scoop\apps\git\current\usr\bin\gpg.exe"
if (Test-Path -Path $scoopGpgPath) {
    $decryptedKeys | & $scoopGpgPath --import
    Write-Host "Successfully imported GPG keys using the scoop's git gpg command."
}
