#!/usr/bin/env bash
set -euo pipefail

# Run weekly. Current week: {{ div now.YearDay 7 }}, {{ now.Year }}

# Run unix-command installations
{{ $packages := joinPath .chezmoi.sourceDir ".data/packages.yaml" | include | fromYaml -}}
{{- range $packages -}}
{{- if hasKey . "unix-shell-url" -}}
curl --proto '=https' --tlsv1.2 -LsSf {{ index . "unix-shell-url" }} | sh
{{ end -}}
{{ end }}
