#!/usr/bin/env bash
set -euo pipefail

# Run weekly. Current week: {{ div now.YearDay 7 }}, {{ now.Year }}

ENABLED="
{{- if and (has .osid (list "linux-debian" "linux-ubuntu")) .installPackages -}}
    true
{{- else -}}
    false
{{- end -}}
"
readonly ENABLED

# If not ubuntu/debian, exit early.
if [ "$ENABLED" = "false" ]; then
    exit 0
fi

# Install packages
{{ $apt_packages := list -}}
{{ $packages := joinPath .chezmoi.sourceDir ".data/packages.yaml" | include | fromYaml -}}
{{ range $packages -}}
    {{ if hasKey . "apt" -}}
        {{ $apt_packages = append $apt_packages .apt -}}
    {{ end -}}
{{ end -}}

sudo apt update
sudo apt install -y {{ $apt_packages | join " " }}
