#!/usr/bin/env bash
set -euo pipefail

# Run weekly. Current week: {{ div now.YearDay 7 }}, {{ now.Year }}

ENABLED="
{{- if has .osid (list "linux-debian" "linux-ubuntu") -}}
    true
{{- else -}}
    false
{{- end -}}
"
readonly ENABLED

# If not ubuntu/debian, exit early.
if [ "$ENABLED" = "false" ]; then
    exit 0
fi

export PATH="$HOME/.local/bin:$PATH"

{{ $packages := joinPath .chezmoi.sourceDir ".data/packages.yaml" | include | fromYaml -}}
{{- range $packages -}}
{{- if hasKey . "uv" -}}
echo "Installing '{{ .name }}' via uv..."
$HOME/.local/bin/uv tool install {{ index . "uv" }}
{{ end -}}
{{ end }}
