#!/usr/bin/env bash
set -euo pipefail

gpg --import <<EOF
{{ onepasswordRead "op://Personal/Personal GPG Key/private.gpg" }}
EOF

gpg --import <<EOF
{{ onepasswordRead "op://Personal/Personal GPG Key/public.gpg" }}
EOF

echo "GPG keys imported successfully."