#!/usr/bin/env bash
set -euo pipefail

ENABLED="
{{- if and (has .osid (list "linux-debian" "linux-ubuntu")) .installPackages -}}
    true
{{- else -}}
    false
{{- end -}}
"
readonly ENABLED

# If not ubuntu/debian, exit early.
if [ "$ENABLED" = "false" ]; then
    exit 0
fi

sudo groupadd -f docker || true
sudo usermod -aG docker "$(whoami)"

sudo systemctl enable docker.service
sudo systemctl enable containerd.service
